body {
  width: 100%;
  max-width: none;
}

.jumbotron {
  background-color: #dedede;
  height: 100vh;

}

#footer {
  height: 20px;
  width: 100%;
  margin: 0;
  padding: 40px 0;
  background-color: #dedede;
  font-size: 11px;

}


@media (min-width:768px) {
  body{
    
  }
  hidden-sm {
    display: none !important;
  }
  nav {
    width: auto;

  }

}




@media (min-width:992px) {}
